<%= render Pages::Help::SectionComponent.new("debates") do %>
  <p>
    <%= sanitize(t("pages.help.debates.description",
                   org: (I18n.locale == :ar ? "مشاركة مواطنة" :  
                         "Moucharaka Mouwatina"), 
                   link: link_to(t("pages.help.debates.link"), debates_path))) %>
  </p>

  <ul class="features">
    <li>
      <%= sanitize(t("pages.help.debates.feature",
        link: link_to(t("pages.help.debates.feature_link", org: (I18n.locale == :ar ? "مشاركة مواطنة" : 
                                                                        I18n.locale == :fr ? "Moucharaka Mouwatina" : 
                                                                        "Moucharaka Mouwatina")),
                      new_user_registration_path))) %>
    </li>
  </ul>
<% end %>
